**/*.o
**/*.hi
**/*.bak
**/TestGramatyka
interpreter
src/BnfcParser/
cabaltestdir/dist-newstyle/
paczka/src/*.txt
paczka/src/*.x
paczka/src/*.y
paczka/src/*.info
paczka/src/*.sh
paczka/src/interpreter
paczka/src/TestGramatyka*
experiments/x
