**/*.o
**/*.hi
**/*.bak
**/TestGramatyka
[Ii]nterpreter
src/BnfcParser/
**/cabaltestdir/dist-newstyle/
paczka/src/*.txt
paczka/src/*.x
paczka/src/*.y
paczka/src/*.info
paczka/src/*.sh
paczka/src/[Ii]nterpreter
paczka/src/TestGramatyka*
experiments/x
release/mateusz_malinowski/src/[Ii]nterpreter
release/unzipped/
